/* global */

    body{ 
		background:#fbf9ee url(../images/bg_body.gif) repeat-x;
        font:80% Trebuchet MS, Arial, Helvetica, Sans-Serif;
		color:#333;
		line-height:160%;
		margin:0;
		padding:0;
		text-align:center;
        }

    /* headings */
        h1{
			font-size:200%;
			font-weight:normal;
            }		
		h2, h3, h4, h5, h6{
			font-weight:normal;
			margin:0.5em 0;
			color:#2c728a;
			}	
        h2{            
			font-size:18px;
			font-weight:bold;
			padding-bottom:.5em;
			background:url(../images/bg_line.gif) no-repeat 0 100%;
			color:#663333;
            }				
        h3{          
			font-size:16px;
			font-weight:bold;			
            }
        h4{          
			font-size:16px;
            }				
    /* // headings */

    /* image replacement */
        .graphic{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */

    /* clearfix */

		#content:after, ul:after{
			content:"."; 
			display:block; 
			height:0; 
			clear:both; 
			visibility:hidden;
			}
		#content, ul{
			display:block;
			}
		/*  \*/
		#content, ul{
			min-height:1%;
			}
		* html #content, * html ul{
			height:1%;
			}

    /* // clearfix */
	
	/* HTML Tags */
        a{
			text-decoration:none;
			color:#0099CC;
            }
        a:hover{
			color:#999;
            }			
		table, input, textarea, select, li{
			font:100% Trebuchet MS, Arial, Helvetica, Sans-Serif;
			line-height:160%;
			color:#333;
			}				
		p, blockquote, ul, ol, form{
			margin:1em 0;
			}
		blockquote{
			}
		img{
			border:none;
			}			
		hr{
			display:none;
			}	
		table{
			margin:1em 0;
			width:100%;
			border-collapse:collapse;
			}
		th, td{	
			padding:2px 5px;
			}	
		th{	
			text-align:left;
			}
		ul{
			list-style-type:circle
		}		
		li{
			display:list-item;
			}	
	
	/* // HTML Tags */	
	
/* // global */

/* page setup */

	#container{	
		margin:0 auto;
		width:934px;
		text-align:left;
		position:relative;
		}
	#header{
		height:88px;
		position:relative;
		background:url(../images/bg_header.gif) no-repeat 0 0;
		}	
	.col{
		float:left;
		display:inline;
		width:290px;
		margin-left:30px;
		padding-bottom:1em;
		}			
	#content{
		margin:1em 0;
		}	
	#main{
		float:left;
		display:inline;
		width:610px;
		margin-left:2px;
		padding-bottom:1em;
		}											
	#side{
		float:left;
		display:inline;		
		width:290px;
		margin-left:30px;
		padding-bottom:1em;
		position:relative;
		padding-bottom:1em;
		}
	#footer{
		clear:both;
		background:url(../images/bg_line.gif) no-repeat 0 0;
		padding-top:.5em;
		}		

/* //page setup */


/* navigation elements */

	/* main nav */
		
		ul#nav,  
		ul#nav li{
			margin:0;
			padding:0;
			list-style:none;
			}
		ul#nav{
			position:absolute;
			right:0;
			top:52px;
			height:32px;
			}			
		ul#nav li{
			float:left;
			display:inline;
			height:32px;		
			line-height:32px;			
			margin-left:5px;
			}	
		ul#nav li a{
			float:left;
			display:inline;
			height:32px;		
			line-height:32px;			
			font-size:14px;
			color:#fff;
			padding-left:15px;
			text-transform:lowercase;
			}	
		ul#nav li a span{
			float:left;
			height:32px;		
			line-height:32px;			
			padding-right:15px;
			cursor:pointer;
			}							
		ul#nav li.selected a, ul#nav li a:hover{
			background:url(../images/bg_nav1.gif) no-repeat 0 0;
			}				
		ul#nav li.selected a span, ul#nav li a:hover span{
			background:url(../images/bg_nav2.gif) no-repeat 100% 0;
			}												
	
	/* //main nav */
	
/* //navigation elements */

/* header */

	#header h1{
		position:absolute;
		float:left;
		left:0;
		top:0;
		height:78px;
		line-height:76px;		
		font-size:18px;
		font-weight:bold;
		color:#fff;
		margin:0;
		padding-left:10px;
		background:url(../images/bg_logo1.png) no-repeat 0 0;
		}
	#header h1 a{
		float:left;
		height:76px;
		line-height:76px;	
		color:#fff;
		background:url(../images/bg_logo2.png) no-repeat 100% 0;
		padding:0 20px 0 10px;
		}		

/* // header */

/* content */

	#content a, .col a{
		text-decoration:underline;
		font-weight:bold;
		}	
	.first{
		margin-left:2px;
		}								
	.col img{
		/*background:url(../images/bg_colimg.gif) no-repeat 0 0;*/
		border:5px solid #F2E9C4
		}		
		
	/* intro */
	
		#slogan{
			margin:0;
			background:url(../images/bg_slogan.gif) no-repeat 0 0;
			padding-top:25px;
			padding-bottom:2px;
			line-height:59px;
			color:#2c728a;
			font-size:25px;
			font-weight:bold;
			text-indent:32px;			
			}
		#intro{
			margin:10px 0;
			height:159px;
			position:relative;
			background:url(../images/bg_intro.jpg) no-repeat 0 0;
			}																	
		#intro h2{
			margin:0;
			position:absolute;
			left:30px;
			top:40px;
			font-size:35px;
			line-height:40px;
			color:#fff;			
			padding-bottom:0;
			background:none;			
			}
		#intro p{
			margin:0;
			position:absolute;
			left:30px;
			top:20px;
			color:#fff;
			font-size:16px;
			width:530px;
			line-height:150%;
			}	
		#intro p.link{
			left:25px;
			top:88px;			
			width:116px;
			height:29px;
			padding-top:3px;
			background:url(../images/bg_introLink.png) no-repeat 0 0;
			}
		#intro p.link a{
			display:block;
			margin:0 10px;
			overflow:hidden;
			color:#2c728a;
			height:15px;
			text-align:center;
			font-size:12px;
			font-weight:bold;
			}	
		#intro p.link a:hover{
			color:#940000;
			}												
	
	/* // intro */		
	
	/* side list */
	
		ul.list, ul.list li{
			margin:0;
			padding:0;
			list-style:none;
			}
		ul.list{
			}													
		ul.list li{
			padding-top:.5em;
			background:url(../images/bg_line.gif) no-repeat 0 0;
			}	
		ul.list li.first{
			padding-top:0;
			background:none;			
			}																
		ul.list li h3{		
			margin:.5em 0;
			font-size:15px;
			}
		ul.list li p{		
			margin:.5em 0;
			}																						
	
	/* // side list */	
	
	/* item list */
	
		ul.items, ul.items li{
			margin:0;
			padding:0;
			list-style:none;
			}
		ul.items{
			}													
		ul.items li{
			padding:.5em 0;
			background:url(../images/bg_line.gif) no-repeat 0 0;
			position:relative;
			min-height:120px;
			}	
		ul.items li.first{
			background:none;			
			}																
		ul.items li h4, ul.items li p{		
			margin:.5em 0 .5em 130px;
			}	
		ul.items li img{
			position:absolute;
			top:1em;
			left:0;
			background:url(../images/bg_itemimg.gif) no-repeat 0 0;
			/*padding:12px;*/
			padding:0;
			}																											
	
	/* // item list */							
	
	/* form */
																				
		form{
			margin:1.5em 0;
			padding-top:.5em;
			background:url(../images/bg_line.gif) no-repeat 0 0;
			}
		fieldset{
			margin:0;
			padding:0;
			border:none;
			}			
		legend{
			display:none;
			}			
		label{
			float:left;
			width:120px;
			}	
		input, textarea{
			width:250px;
			border:1px solid #dbd3b6;
			padding:5px;
			}			
		textarea{
			height:120px;
			overflow:auto;
			}						
		form p{
			clear:both;		
			margin:0;
			padding:8px 0;
			}	
		button{
			border:none;
			padding:5px 15px;
			margin:0;
			float:left;
			background:#2c728a;	
			color:#fff;
			font-weight:bold;
			font-size:15px;
			cursor:pointer;
			margin-left:120px;
			}										
					
	
	/* // form */					
						
	
/* // content */

/* footer */

	#footer a{
		color:#0099CC;
		text-decoration:underline;
		font:normal 11px Verdana, Arial, Helvetica, sans-serif;
		}
	#footer a:hover{
		color:#940000;
		text-decoration:underline;
		}		
	#footer ul{
		float:right;
		margin:1em 0;
		padding:0;
		}
	#footer li{
		display:inline;
		margin:0 0 0 10px;
		padding:0;
		list-style:none;
		font:normal 11px Verdana, Arial, Helvetica, sans-serif;		
		}		
	#footer p{font:normal 11px Verdana, Arial, Helvetica, sans-serif;}
				

/* // footer */


/*Multi-column list*/
	div.listWrapper{margin-bottom:-1.5em}
	div.listWrapper ul{width: 45em;  /* room for 3 columns */}
	div.listWrapper ul li{float: left;width: 15em;  /* accommodate the widest item */}
	/* anchor styling */
	div.listWrapper ul li a{display: block;	width: 7em;	text-decoration: none;}
	div.listWrapper ul li a:hover{color: #FFF; /* white */	background-color: #A52A2A; /* brown */}
	/* stop the floating after the list */
	div.listWrapper br{clear: left;}
	
	.light {color:#FF3300}
