/* global */

    body{ 
		background:#fffcd6 url(../images/bg_body2.gif) repeat-x;
        font:80% Trebuchet MS, Arial, Helvetica, Sans-Serif;
		color:#333;
		line-height:160%;
		margin:0;
		padding:0;
		text-align:center;
        }
	#logo{width:360px; height:98px; background:url(../images/srikiran_logo.png) no-repeat 0 5px; cursor:pointer}
    /* headings */
        h1{
			font-size:200%;
			font-weight:normal;
            }		
		h2, h3, h4, h5, h6{
			font-weight:normal;
			margin:0.5em 0;
			color:#2c728a;
			}	
        h2{            
			font-size:18px;
			font-weight:bold;
			padding-bottom:.5em;
			background:url(../images/bg_line.gif) no-repeat 0 100%;
			color:#663333;
            }				
        h3{          
			font-size:16px;
			font-weight:bold;			
            }
        h4{          
			font-size:16px;
            }				
    /* // headings */

    /* image replacement */
        .graphic{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */

    /* clearfix */

		#content:after, ul:after{
			content:"."; 
			display:block; 
			height:0; 
			clear:both; 
			visibility:hidden;
			}
		#content, ul{
			display:block;
			}
		/*  \*/
		/*#content, ul{
			min-height:1%;
			}causing bullets to disappear in IE 6/7*/ 
		* html #content, * html ul{
			height:1%;
			}

    /* // clearfix */
	
	/* HTML Tags */
        a{
			text-decoration:none;
			color:#0099CC;
            }
        a:hover{
			color:#999;
            }			
		table, input, textarea, select, li{
			font:100% Trebuchet MS, Arial, Helvetica, Sans-Serif;
			line-height:160%;
			color:#333;
			}				
		p, blockquote, ol, form{
			margin:1em 0;
			}
		blockquote{
			}
		img{
			border:none;
			}			
		hr{
			display:none;
			}	
		table{
			margin:1em 0;
			width:100%;
			border-collapse:collapse;
			}
		th, td{	
			padding:2px 5px;
			}	
		th{	
			text-align:left;
			}
		ul{
			list-style-type:circle
		}		
		li{
			display:list-item;
			}	
	
	/* // HTML Tags */	
	
/* // global */

/* page setup */

	#container{	
		margin:0 auto;
		width:934px;
		text-align:left;
		position:relative;
		}
	#header{
		height:105px;
		position:relative;
		margin-bottom:15px
		/*background:url(../images/bg_header.gif) no-repeat 0 0;*/
		}	
	.col{
		float:left;
		display:inline;
		width:290px;
		margin-left:30px;
		padding-bottom:1em;
		}			
	#content{
		margin:0 0 1em 0;
		}	
	#main{
		float:left;
		display:inline;
		width:600px;
		margin-left:2px;
		padding-bottom:1em;
		}											
	#side{
		float:left;
		display:inline;		
		width:300px;
		margin-left:30px;
		padding-bottom:1em;
		position:relative;
		padding-bottom:1em;
	    margin-top:-20px		
		}
	#footer{
		clear:both;
		width:100%;
		height:97px;
		float:left;
		margin:0px;
		padding:0px;
		background-image: url(../images/footer_bg1.gif);
		background-repeat: repeat-x;	
		text-align:center;	
		}		

/* //page setup */


/* navigation elements */

	/* main nav */
		
		ul#nav,  
		ul#nav li{
			margin:0;
			padding:0;
			list-style:none;
			}
		ul#nav{
			position:absolute;
			right:0;
			top:65px;
			height:32px;
			}			
		ul#nav li{
			float:left;
			display:inline;
			height:32px;		
			line-height:32px;			
			margin-left:5px;
			}	
		ul#nav li a{
			float:left;
			display:inline;
			height:32px;		
			line-height:32px;			
			font-size:14px;
			color:#fff;
			padding-left:8px;
			text-transform:lowercase;
			}	
		ul#nav li a span{
			float:left;
			height:32px;		
			line-height:32px;			
			padding-right:8px;
			cursor:pointer;
			}							
		ul#nav li.selected a, ul#nav li a:hover{
			background:url(../images/bg_nav1.gif) no-repeat 0 0;
			}				
		ul#nav li.selected a span, ul#nav li a:hover span{
			background:url(../images/bg_nav2.gif) no-repeat 100% 0;
			}												
	
	/* //main nav */
	
/* //navigation elements */

/* header */

	#header h1{
		position:absolute;
		float:left;
		left:0;
		top:0;
		height:78px;
		line-height:76px;		
		font-size:18px;
		font-weight:bold;
		color:#fff;
		margin:0;
		padding-left:10px;
		background:url(../images/bg_logo1.png) no-repeat 0 0;
		}
	#header h1 a{
		float:left;
		height:76px;
		line-height:76px;	
		color:#fff;
		background:url(../images/bg_logo2.png) no-repeat 100% 0;
		padding:0 20px 0 10px;
		}		

/* // header */

/* content */

	#content a, .col a{
		text-decoration:underline;
		font-weight:bold;
		}	
	.first{
		margin-left:2px;
		}								
	.col img{
		/*background:url(../images/bg_colimg.gif) no-repeat 0 0;*/
		/*border:5px solid #B8AC85*/
		}		
		
	/* intro */
	
		#slogan{
			margin:0;
			background:url(../images/bg_slogan.gif) no-repeat 0 0;
			padding-top:25px;
			padding-bottom:2px;
			line-height:59px;
			color:#2c728a;
			font-size:25px;
			font-weight:bold;
			text-indent:32px;			
			}
		#intro{
			margin:10px 0;
			height:295px;
			position:relative;
			background:url(../images/bg_intro2.jpg) no-repeat 0 0;
			}	
		#intro2{
			margin-bottom:5px;
			height:187px;
			position:relative;
			background:url(../images/about_us.jpg) no-repeat 0 0;
			}
		#intro3{
			margin-bottom:5px;
			height:187px;
			position:relative;
			background:url(../images/services.jpg) no-repeat 0 0;
			}	
		#intro4{
			margin-bottom:5px;
			height:187px;
			position:relative;
			background:url(../images/programs.jpg) no-repeat 0 0;
			}																								
		#intro5{
			margin-bottom:5px;
			height:187px;
			position:relative;
			background:url(../images/donate.jpg) no-repeat 0 0;
			}
		#intro6{
			margin-bottom:5px;
			height:187px;
			position:relative;
			background:url(../images/contact.jpg) no-repeat 0 0;
			}
		#intro7{
			margin-bottom:5px;
			height:187px;
			position:relative;
			background:url(../images/volunteer.jpg) no-repeat 0 0;
			}
		#intro8{
			margin-bottom:5px;
			height:295px;
			position:relative;
			background:url(../images/real_heroes.jpg) no-repeat 0 0;
			}													
		#intro h2{
			margin:0;
			position:absolute;
			left:30px;
			top:40px;
			font-size:35px;
			line-height:40px;
			color:#fff;			
			padding-bottom:0;
			background:none;			
			}
		#intro p{
			margin:10px 0 0 0;
			position:absolute;
			left:30px;
			top:20px;
			color:#fff;
			font-size:16px;
			width:530px;
			line-height:150%;
			}	
		#intro p.link{
			left:25px;
			top:88px;			
			width:116px;
			height:29px;
			padding-top:3px;
			background:url(../images/bg_introLink.png) no-repeat 0 0;
			}
		#intro p.link a{
			display:block;
			margin:0 10px;
			overflow:hidden;
			color:#2c728a;
			height:15px;
			text-align:center;
			font-size:12px;
			font-weight:bold;
			}	
		#intro p.link a:hover{
			color:#940000;
			}												
	
	/* // intro */		
	
	/* side list */
	
		ul.list, ul.list li{
			margin:0;
			padding:0;
			list-style:none;
			}
		ul.list{
			}													
		ul.list li{
			padding-top:.5em;
			background:url(../images/bg_line.gif) no-repeat 0 0;
			}	
		ul.list li.first{
			padding-top:0;
			background:none;			
			}																
		ul.list li h3{		
			margin:.5em 0;
			font-size:15px;
			}
		ul.list li p{		
			margin:.5em 0;
			}																						
	
	/* // side list */	
	
	/* item list */
	
		ul.items, ul.items > li{
			margin:0;
			padding:0;
			list-style:none;
			}
		ul.items{
			}													
		ul.items > li{
			padding:.5em 0;
			background:url(../images/bg_line.gif) no-repeat 0 0;
			position:relative;
			min-height:120px;
			}	
		ul.items li.first{
			background:none;			
			}																	
		ul.items li img{
			float: right;
		}																											
	
	/* // item list */							
	
	/* form */
																				
		form{
			margin:1.5em 0;
			padding-top:.5em;
			background:url(../images/bg_line.gif) no-repeat 0 0;
			}
		fieldset{
			margin:0;
			padding:0;
			border:none;
			}			
		legend{
			display:none;
			}			
		label{
			float:left;
			width:120px;
			}	
		input, textarea{
			width:250px;
			border:1px solid #dbd3b6;
			padding:5px;
			}			
		textarea{
			height:120px;
			overflow:auto;
			}						
		form p{
			clear:both;		
			margin:0;
			padding:8px 0;
			}	
		button{
			border:none;
			padding:5px 15px;
			margin:0;
			float:left;
			background:#2c728a;	
			color:#fff;
			font-weight:bold;
			font-size:15px;
			cursor:pointer;
			margin-left:120px;
			}										
					
	
	/* // form */					

span.arrow1{background: url(../images/arrow1.gif) no-repeat 0 2px; padding:0 0 0 8px;font-size:11px}


p#crumb{font:normal 10px verdana; margin-top:0}
	
/* // content */

/* footer */

	#footer a{
		color:#00CCCC;
		text-decoration:none;
		font:normal 11px Verdana, Arial, Helvetica, sans-serif;
		}
	#footer a:hover{
		color:#FFF;
		text-decoration:underline;
		}		
	#footer ul{
		margin:1em 0;
		padding:0;
		}
	#footer li{
		display:inline;
		margin:0 0 0 10px;
		padding:0;
		list-style:none;
		font:normal 11px Verdana, Arial, Helvetica, sans-serif;		
		}		
	#footer p{font:normal 11px Verdana, Arial, Helvetica, sans-serif; color:#fff}
				

/* // footer */


/*Multi-column list*/
	div.listWrapper{margin-bottom:-1.5em}
	div.listWrapper ul{width: 45em;  /* room for 3 columns */}
	div.listWrapper ul li{float: left;width: 15em;  /* accommodate the widest item */}
	/* anchor styling */
	div.listWrapper ul li a{display: block;	width: 7em;	text-decoration: none;}
	div.listWrapper ul li a:hover{color: #FFF; /* white */	background-color: #A52A2A; /* brown */}
	/* stop the floating after the list */
	div.listWrapper br{clear: left;}
	
	.light {color:#FF3300}


/*Chandu*/
#gallery{padding-left:16px}
.imgHldr{padding-right:5px; display:inline; width:116px}

#navlist {
margin: 10px;
padding-left: 0;
list-style: none;
}

#navlist li {
padding:5px 0 5px 28px;
background: url(../images/arrow_off.png) no-repeat 0 2px;
}
#navlist li#sel {
padding:5px 0 5px 28px;
background: url(../images/arrow_on.png) no-repeat 0 2px;
}
#navlist li#sel a{color:#FFCC66}
#navlist li a{color:#FFCC99; text-decoration:none}
#navlist li a:hover{color:#FFCC66; text-decoration:underline}
#galHdr{padding:10px 0 10px 20px; margin:0; color:#999933; font:normal 18px Georgia, 'Times New Roman', Times, serif}

.top_bg{float:right; height:14px; width:270px; background:transparent url(../images/side_nav_top.png) no-repeat scroll top left}
.mid_bg{float:right;background:transparent url(../images/side_nav_mid.png) repeat-y;width:270px; margin:-4px 0 0 22px;}
.btm_bg{float:right; height:18px; width:270px; background:transparent url(../images/side_nav_btm.png) no-repeat scroll top left}