#mytable td{text-align:left}
#navcontainer
{
width:100%;
padding: 0;
margin-bottom: 1em;
font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
font:normal 12px "Trebuchet MS";
background-color:#f5eeb1;
color: #333;
}

#navcontainer ul
{
list-style: none;
margin: 0;
padding: 0;
border: none;
}

#navcontainer li
{
border-bottom: 1px dashed #FFF;
margin: 0;
}
#navcontainer li.top
{
border-top: 1px dashed #FFF;
margin: 0;
}
#navcontainer li a
{
display: block;
padding: 5px 5px 5px 0.5em;
border-left: 10px solid #d0ca9a;
/*border-right: 10px solid #D8CBAF;*/
background-color:#f5eeb1;
color:#666666;
text-decoration: none;
width: 100%;
}

html>body #navcontainer li a { width: auto; }

#navcontainer li a:hover
{
border-left: 10px solid #989686;
/*border-right: 10px solid #5ba3e0;*/
background-color: #e9e3ae;
color:#663333;
}

#navlist li#active a
{
border-left: 10px solid #989686;
/*border-right: 10px solid #5ba3e0;*/
background-color: #e9e3ae;
color:#663333;
}
